.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{

  margin-top: 20px;
 
  padding: 10px;
  text-align: center;
}

.containerWeather img{
  width: 70px;
  padding: 10px;
}
.containerWeather{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.containerMovie{
width: 1200px;
margin: 30px;

}

.containerMovie img{
  height: 600px;
}

.textCarousel{
  background-color: black;
  opacity: 0.7;
  font-weight: 600;
  margin-top: 50px;
}

.carousel-control-next-icon,.carousel-control-prev-icon{
  background-color: black !important; 
}
.carousel-indicators button{
  background-color:chartreuse !important
}
/* .carousel-indicators {
  background-color:white !important
} */



.hoverCard1:hover{
  background-color: chartreuse;
}
.hoverCard2:hover{
  background-color: crimson;
}

.header{
  text-align: center;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  background-color: cyan;
  font-style: italic;
  color: cadetblue;
  border: 2px cadetblue outset;
  
}
.header h1{
  border-bottom:  rgb(209, 209, 20) 5px inset;
  border-radius: 5em;
  color: #282c34;
  opacity: 0.8;
  width: 30rem;
  text-align: center;
  margin-left: 33%;
  padding: 10px;
  font-weight: 900;
  background-color: aliceblue;
}

.headerTextH1{
  
  border-bottom:  rgb(209, 209, 20) 5px inset;
  border-top:  rgb(241, 12, 12) 5px inset;
  border-radius: 5em;
  color: #282c34;
  opacity: 0.8;
  width: 30rem;
  text-align: center;
  margin-left: 33%;
  margin-top: 30px;
  padding: 10px;
  font-weight: 900;
  background-color: aliceblue;


}
.footer{

  background-color: darkslategray;
  color: aliceblue;
  text-align: center;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}